// Color palette
$primary-color: #6A3460;
$secondary-color: #F9BF38;
$white: #ffffff;
$white-10: #FCFCFD;
$white-20: #F5F7F8;
$black: #000000;
$grey-10: #EFF1F3;
$grey-20: #BEC8D1;
$grey-30: #9DACB9;
$grey-40: #7D91A2;
$grey-50: #607587;
$grey-60: #4D5E6C;
$grey-70: #3A4651;
$grey-80: #262F36;
$green-50: #35853B;
$green-60: #2A6A2F;
