@import "reset";
@import "base";
@import "../partials/header.scss";
@import "../partials/hotel-card.scss";
@import "../partials/error.scss";
@import "../partials/details.scss";

.main-container {
  height: 100vh;
  max-width: 900px;
  margin: 0 auto;
  padding: 10px 0;
  @include tablet {
    max-width: 600px;
  }
  @include mobile {
    max-width: 100%;
  }
}

.filters {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  width: 100%;
  @include mobile {
    align-items: flex-end;
    flex-direction: column;
  }
}

.filters__container {
  align-items: center;
  display: flex;
  height: 30px;

  .filters__text {
    font-weight: $font-weight-bold;
    margin: 0 10px 0 20px;
    @include mobile {
      margin: 0 10px 0 0;
    }
  }

  .filters__price {
    -webkit-appearance: none;
    -webkit-transition: .2s;
    background: $grey-30;
    border-radius: 5px;
    height: 10px;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    width: 200px;
    @include mobile {
      width: 150px;
    }
  }

  .filters__price:hover {
    opacity: 1;
  }

  .filters__price::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: $green-50;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    overflow: hidden;
    width: 20px;
  }

  .filters__price::-moz-range-thumb {
    background: #4CAF50;
    cursor: pointer;
    height: 25px;
    width: 25px;
  }

  .filters__price-text {
    text-align: right;
    width: 50px;
  }

  .filters__ratings {
    background-color: $white;
    height: 25px;
    width: 120px;
  }
}

#content {
  height: 100%;
}

.loader__container {
  align-items: center;
  display: flex;
  height: 60%;
  justify-content: center;
}

.loader {
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  border: 6px solid $grey-10;
  border-radius: 50%;
  border-top: 8px solid $grey-50;
  height: 40px;
  width: 40px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



