@import "reset";
@import "globals";

body {
  background-color: $body-bg-color;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  height: 100%;
}

.main-container {
  height: 100vh;
  margin: 0 300px;
  padding: 10px 0;
}

.filters {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  width: 100%;
}

.filters__container {
  align-items: center;
  display: flex;
  height: 30px;

  .filters__text {
    font-weight: 600;
    margin-right: 10px;
  }

  .filters__price-text {
    width: 50px;
    margin-right: 20px;
    margin-left: 5px;
  }

  .filters__ratings {
    background-color: $white;
    height: 25px;
    width: 120px;
  }
}


//header.css
@import "../partials/header.scss";

//Main.css
@import "../partials/hotel-card.scss";

@import "../partials/error.scss";

@import "../partials/details.scss";



