$verticalSpace: 20px;

.details {
  background-color: $white;
  max-height: 0px;
  margin: 10px 0;
  overflow: hidden;
  transition: max-height 0.7s;

  .details__wrapper {
    padding: $verticalSpace;
  }

  .details__heading-container {
    border-bottom: 1px solid $grey-20;
  }

  .details__heading {
    padding-bottom: $verticalSpace;
    text-transform: capitalize;
  }

  .details__desc {
    padding: $verticalSpace 0;
  }

  .details__reviews-list {
    background-color: $white-10;
    height: 180px;
    overflow-y: scroll;

    .loader__container {
      height: 100%;
    }
  }

  .details__reviews-heading {
    padding-bottom: $verticalSpace;
    border-bottom: 1px solid $grey-20;
  }

  .no-reviews {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;

    .no-reviews__text {
      color: $grey-50;
      font-weight: $font-weight-bold;
    }
  }

  .review {
    border-bottom: 1px solid $grey-10;
    display: flex;
    margin: 0 10px;
    padding: 10px 0;

    .review__sentiment {
      align-items: center;
      display: flex;

      i {
        font-size: 56px;

        &.satisfied {
          color: $green-50;
        }
        &.dissatisfied {
          color: $secondary-color;
        }
      }
    }

    .review__detail {
      padding: 10px;

      .reviewer__name {
        font-weight: $font-weight-bold;
      }

      .reviewer__comment {
        padding-top: 10px;
      }
    }
  }

  .details__close-button {
    -webkit-appearance: none;
    align-items: center;
    background-color: $white;
    border: 1px solid $black;
    box-shadow: none;
    color: $black;
    cursor: pointer;
    display: flex;
    float: right;
    height: 30px;
    justify-content: center;
    margin: 10px 20px;

    &:hover {
      background-color: $grey-30;
      color: $white;
    }

    &:focus {
      outline: none;
    }
  }
}
