<div class="details">
  <div class="details__heading-container">
    <h4 class="details__heading">About {{name}}</h4>
  </div>

  <p class="details__desc">{{description}}</p>

  <h4 class="details__reviews-heading"> All Reviews</h4>

  <ul class="details__reviews-list">
    {{[../Helpers/getReviews] id}}
    <li class="review">
      <div class="review__sentiment"><i class="material-icons">sentiment_very_satisfied</i></div>
      <div class="review__detail">
        <h5 class="reviewer__name">Aniyah Runolfsson</h5>
        <p class="reviewer__comment">Ipsa ducimus earum est expedita qui ipsa.\nUt velit dignissimos at commodi sit illum.</p>
      </div>
    </li>
    <li class="review">
      <div class="review__sentiment"><i class="material-icons">sentiment_very_satisfied</i></div>
      <div class="review__detail">
        <h5 class="reviewer__name">Aniyah Runolfsson</h5>
        <p class="reviewer__comment">Ipsa ducimus earum est expedita qui ipsa.\nUt velit dignissimos at commodi sit illum.
          Ipsa ducimus earum est expedita qui ipsa.\nUt velit dignissimos at commodi sit illum.
        </p>
      </div>
    </li>
    <li class="review">
      <div class="review__sentiment"><i class="material-icons">sentiment_very_satisfied</i></div>
      <div class="review__detail">
        <h5 class="reviewer__name">Aniyah Runolfsson</h5>
        <p class="reviewer__comment">Ipsa ducimus earum est expedita qui ipsa.\nUt velit dignissimos at commodi sit illum.</p>
      </div>
    </li>
    <li class="review">
      <div class="review__sentiment"><i class="material-icons">sentiment_very_satisfied</i></div>
      <div class="review__detail">
        <h5 class="reviewer__name">Aniyah Runolfsson</h5>
        <p class="reviewer__comment">Ipsa ducimus earum est expedita qui ipsa.\nUt velit dignissimos at commodi sit illum.
          Ipsa ducimus earum est expedita qui ipsa.\nUt velit dignissimos at commodi sit illum.
        </p>
      </div>
    </li>
    <li class="review">
      <div class="review__sentiment"><i class="material-icons">sentiment_very_satisfied</i></div>
      <div class="review__detail">
        <h5 class="reviewer__name">Aniyah Runolfsson</h5>
        <p class="reviewer__comment">Ipsa ducimus earum est expedita qui ipsa.\nUt velit dignissimos at commodi sit illum.</p>
      </div>
    </li>
    <li class="review">
      <div class="review__sentiment"><i class="material-icons">sentiment_very_satisfied</i></div>
      <div class="review__detail">
        <h5 class="reviewer__name">Aniyah Runolfsson</h5>
        <p class="reviewer__comment">Ipsa ducimus earum est expedita qui ipsa.\nUt velit dignissimos at commodi sit illum.
          Ipsa ducimus earum est expedita qui ipsa.\nUt velit dignissimos at commodi sit illum.
        </p>
      </div>
    </li>
  </ul>
</div>
