<div id="detail-{{id}}" class="details">
  <div class="details__wrapper">
    <div class="details__heading-container">
      <h4 class="details__heading">About {{name}}</h4>
    </div>

    <p class="details__desc">{{description}}</p>
    <h4 class="details__reviews-heading"> All Reviews</h4>
    <ul class="details__reviews-list">
    </ul>

    <button id="{{id}}" class="details__close-button">
      Close
      <i class="material-icons">keyboard_arrow_up</i>
    </button>
  </div>
</div>
