<div class="error">
  <img class="error__img" src="src/assets/exclamation.svg" alt="">
  {{#if error.status}}
      <h2 class="error__heading">{{error.status}} - {{error.statusText}}</h2>
  {{else}}
    <h2 class="error__heading">ERROR</h2>
  {{/if}}
  <p class="error__text">Something went wrong. Please Reload.</p>
</div>
