.error {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .error__heading {
    margin: 20px 0 10px 0;
  }

  .error__img {
    width: 200px;
  }

  .error__text {
    margin-bottom: 200px;
  }
}

