<div class="error">
  <img class="error__img" src="src/assets/exclamation.svg" alt="">
  <h2 class="error__heading">{{error.status}} - {{error.statusText}}</h2>
  <p class="error__text">Something went wrong. Please Reload.</p>
</div>
