<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>HolidayPirates</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
  <div>{{Link}}</div>
  {{> partials/header}}
  <main>
    <div id="content" class="main-container">
      <div class="filters">

        <div class="filters__container">
          <p class="filters__text">Select Max Price:</p>
          <input id="price-filter" class="filters__price" type="range" min="1" max="1000" value="50">
          <div id="price-filter-text" class="filters__price-text"></div>
        </div>
        <div class="filters__container">
          <p class="filters__text">Select Min Stars:</p>
          <select id="ratings-filter" class="filters__ratings">
            <option value="1">1+ Star</option>
            <option value="2">2+ Star</option>
            <option value="3">3+ Star</option>
            <option value="4">4+ Star</option>
            <option value="5">5+ Star</option>
          </select>
        </div>
      </div>
    </div>
  </main>
  <footer>

  </footer>
  </body>
</html>
